

.graphic-container{
   

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:1rem;
}

.graphic-container img{
    cursor: pointer;
    border: solid 1px black;

}

.graphic-container img:hover{
   transform: scale(1.2)
    
}

.graphic-container-definition{
    padding:1rem;
}